@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'CustomFont';
	src: url('../app/assets/fonts/pershotravneva55-regular.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}
